@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?3sr44');
	src:url('../fonts/icomoon.eot?#iefix3sr44') format('embedded-opentype'),
		url('../fonts/icomoon.woff?3sr44') format('woff'),
		url('../fonts/icomoon.ttf?3sr44') format('truetype'),
		url('../fonts/icomoon.svg?3sr44#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-fragenausarbeitung:before {
	content: "\e600";
}

.icon-aufmachen:before {
	content: "\e601";
}

.icon-bearbeiten:before {
	content: "\e602";
}

.icon-beobachten_klein:before {
	content: "\e603";
}

.icon-beobachten:before {
	content: "\e604";
}

.icon-download:before {
	content: "\e605";
}

.icon-hilfe:before {
	content: "\e606";
}

.icon-hinzufugen:before {
	content: "\e607";
}

.icon-nachoben:before {
	content: "\e608";
}

.icon-nachricht:before {
	content: "\e609";
}

.icon-navi_auf:before {
	content: "\e60a";
}

.icon-pruefungsfragen:before {
	content: "\e60b";
}

.icon-skriptum:before {
	content: "\e60c";
}

.icon-user:before {
	content: "\e60d";
}

.icon-weiter_eckig:before {
	content: "\e60e";
}

.icon-weiter_rund:before {
	content: "\e60f";
}

.icon-weiter_studienrichtungen:before {
	content: "\e610";
}

.icon-zahnrad:before {
	content: "\e611";
}

.icon-zumachen_schwarz:before {
	content: "\e612";
}

.icon-zumachen_wei:before {
	content: "\e613";
}

